
.radar-page{
     background-color: #3A4F4A;
    
}
.closeCircle {
    border-radius: 50%;
    margin-left: -10%;
    margin-top: 100%;
    width: 120%;
    height: 30%;
  
    border-top: 1px solid #F2D170;
}
.closeCircleDistance {
    margin: 0 auto;
    text-align: center;
    color:#F5F7F4;
}
.distanceCircle {
    position: absolute;
    border-radius: 50%;
    margin-left: -13%;
    margin-top: 50%;
    width: 120%;
    height: 50%;
    background: transparent;
    border-top: 1px dashed #87755D;
}
.distanceCircleDistance {
    margin: 0 auto;
    text-align: center;
      color:#F5F7F4;
}
.zone-type {
      color:#F5F7F4;
    font-size: 18px;
}
.npc {
    position: relative;
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-size: cover;
    border: 1px solid #87755D;
    margin-top: 10%;
    margin-left: 10px;
}
.npcContainer {
    margin-left: 10%;
}
.npcMissionPopover {
    overflow: auto;
    width: 220px;
    height: 350px;

 position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
margin-top:-90%;
    background-color: #162216;
  
    opacity: 0.8;
    border: 2px dashed #87755D;
}
.npcName {
    text-align: center;
    font-size: 20px;
    color: #F2D170;
}
.npcTitle {
    text-align: center;
    font-size: 15px;
    color: #87755D;
}
.npcBio {
    text-align: center;
    margin-top: 10px;
    color: #F5F7F4;
    padding: 5px;
}
.npcMissionList {
    margin-top: 20px;
    color: #F5F7F4;
}
.npcMissionActive {
    text-align: center;
    margin-top: 5px;
    border: 1px solid #F2D170;
    color: #F5F7F4;
}
.npcMissionInactive {
    text-align: center;
    margin-top: 5px;
    border: 1px solid gray;
    color: #F5F7F4;
}
.npcMissionCompleted {
    text-align: center;
    margin-top: 5px;
    border: 1px solid lightgreen;
    color: #F5F7F4;
}
.npcImage {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-size: cover;
}





@-webkit-keyframes slideIn {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes slideInSmooth {
  0% {
    -webkit-transform: translate3d(-100%,0,0);
  }
  100% {
    -webkit-transform: translate3d(0,0,0);
  }
}


.slide-in{
   -webkit-animation: slideInSmooth ease-in 1; 
  animation: slideInSmooth ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 750ms;
  animation-duration: 750ms;
}










